useDynLib(FactoRizationMachines, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom(methods, as)
importFrom(stats, median, sd, predict)
importFrom(parallel, clusterExport, detectCores, makeCluster, parLapply, stopCluster)
import(Matrix)
import(parallel)
S3method(print, FMmodel)
S3method(summary, FMmodel)
S3method(predict, FMmodel)
export(SVM.train)
export(FM.train)
export(HoFM.train)
export(KnoFM.train)
