useDynLib(FactoRizationMachines)
importFrom(Rcpp, evalCpp)
importFrom(methods, as)
import(Matrix)
S3method(print, FMmodel)
S3method(summary, FMmodel)
S3method(predict, FMmodel)
export(SVM.train)
export(FM.train)
export(HoFM.train)
